[defaults]
inventory = inventory/
inventory_ignore_patterns = ^__pycache__$, \.pyc$, \.swp$, \.bak$
roles_path = /opt/fleet-ansible/roles:roles/
remote_user = ansible
interpreter_python = auto_silent
deprecation_warnings = False
host_key_checking = False
timeout = 15
forks = 20
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey,password -o StrictHostKeyChecking=accept-new
