[Unit]
Description=Monthly renewal of fleet-ansible Controller SSH Certificate

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
