[Unit]
Description=Periodic sync of Spoutin Fleet SSH CA Trust & KRL
Documentation=https://github.com/spoutin/fleet-ansible

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
