# Managed by Ansible (fleet-ansible)
# Spoutin PKI SSH Certificate Trust

# Trust certificates signed by Spoutin OpenBao SSH CA
TrustedUserCAKeys {{ ssh_ca_keys_path }}

# OpenSSH Key Revocation List (KRL)
RevokedKeys {{ ssh_krl_path }}
